

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

body {
  background-color: #263147;
  text-align: center;
  color: white;
}

.App-header {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-heading {
/* box-shadow: -10px 10px 10px -5px rgba(0,0,0,0.5); */
text-shadow: -10px 10px 10px rgba(0,0,0,0.5);
}

.App-link {
  color: #61dafb;
}

.nasa-logo {
  height: 250px;
}

.date-search {
background-color: white;
width: 150px;
height: 25px;
border-radius: 5px;
text-align: center;
border: none;
box-shadow: -10px 10px 10px -5px rgba(0,0,0,0.5);
z-index: 1;
margin: 7px;
}

.get-image-button {
  background-color: white;
  width: 100px;
  height: 25px;
  border-radius: 5px;
  text-align: center;
  border: none;
  box-shadow: -10px 10px 10px -5px rgba(0,0,0,0.5);
  z-index: 1;
  margin: 7px;
}

.content-card {
  width: 90vw;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10vw;
  border-radius: 25px;
  box-shadow: -10px 10px 10px -5px rgba(0,0,0,0.5);
}

.content-title {
  color: black;
  padding-top: 25px;
}

.api-picture {
  width: 85vw;
  height: auto;
  padding-bottom: 15px;
}

.api-error {
  width: 150px;
  height: auto;
  
}

.content-description {
  color: black;
  width: 85vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
